.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 30px;
}

.mt-3 {
  margin-top: 45px;
}

.mt-4 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 75px;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 45px;
}

.mb-4 {
  margin-bottom: 60px;
}

.mb-5 {
  margin-bottom: 75px;
}

.mtb-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mtb-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-3 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.mtb-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-5 {
  margin-top: 75px;
  margin-bottom: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
}
header .logo {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
header .logo img {
  width: 200px;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  padding: 15px 10px;
  font-size: 24px;
}
header nav ul li.active {
  background-color: #b2e5fc;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
}
header nav ul li:hover {
  background-color: #b2e5fc;
}

main .container-home {
  width: 100%;
  padding: 30px 0;
  background-image: url(../images/fondo-pag-speciali.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
}
main .container-home h2 {
  font-size: 34px;
  color: #002d73;
  font-weight: 600;
  padding: 10px 0;
}
main .container-home .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .container-home .cards .card {
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
main .container-home .cards .card img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  main .container-home .cards .card {
    width: calc((100% / 2) - 10px);
  }
}
@media screen and (max-width: 480px) {
  main .container-home .cards .card {
    width: calc(100% - 20px);
  }
}
main .product {
  background-color: #b7dae5;
  color: #002d73;
}
main .product h1 {
  text-align: center;
  padding-top: 50px;
}
main .product img {
  width: 100%;
}
main .product p {
  padding: 50px 10%;
}

footer {
  width: 100%;
  color: #848d9b;
}
footer .container {
  display: flex;
}
footer .container .azienda {
  width: 40%;
  padding: 50px 0;
}
footer .container .azienda img {
  width: 200px;
}
footer .container .azienda .dati-azienda ul {
  list-style-type: none;
  font-size: 14px;
}
footer .container .helper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
footer .container .helper ul {
  list-style-type: none;
  width: 50%;
  font-size: 14px;
}
footer .container .helper ul h3 {
  font-size: 24px;
  padding: 10px 0;
}
footer .container .helper ul li {
  padding: 5px 0;
}
@media screen and (max-width: 768px) {
  footer .container .helper {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }
}
footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
