main {
    width: 100%;
    height: 200vh;
    background-image: url(../images/fondo-pag-speciali.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;

    h2 {
        font-size: $font_grande;
        color: $main_color;
        font-weight: 500;
        padding: 10px 0;
    }

    .cards {
        width: 100%;
        background-color: blue;
        display: flex;
        flex-wrap: wrap;

        .card {
            width: calc((100% / 3) - 8px);
            margin: 0 4px;

            img {
                width: 100%;
            }
        }
    }
}