// colors
$main_color: #002d73;
$secondary_color: #b2e5fc;
$text_color: #848d9b;
$product_bg: #b7dae5;

// larghezza-container
$max_conteiner: 80%;


// font
$font_grande: 34px;
$font_medio: 24px;
$font_piccolo: 14px;


// varianti margini
$ml-100: 100px;

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 15px * $i;
  }
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: 15px * $i;
  }
}

@for $i from 1 through 5 {
  .mtb-#{$i} {
    margin-top: 15px * $i;
    margin-bottom: 15px * $i;
  }
}
// mixin
@mixin sfondo {
  background-position: center;
  background-size: cover;
}